<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections></configSections>

	<appSettings>
		<add key="app.public.name" value="DocJur"/>
		<add key="app.port.http" value="51000"/>
		<add key="app.port.https" value="52000"/>

		<add key="database.connectionString" value="Host=localhost;Database=docjur;Port=5432;User Id=postgres;Password=sa"/>
	</appSettings>
</configuration>